/* Body */

body {
    background-image: url("../images/background.jpg");
}

h2 {
    color: white;
    font-family: 'Pacifico', 'Courier New', Courier, monospace;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    padding: 30px;
    text-align: center;
    text-shadow: 3px 3px 3px black;

   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

.card-header {
    font-family: 'Pacifico', 'Courier New', Courier, monospace;
    letter-spacing: 0.1em;
}

/* Favorite GIFs */

.btn-danger {
    float: right;
}

.btn-icon {
    width: 25px;
}

.favorites-header {
    font-size: 2em;
}

.fav-card {
    margin: 15px;
}

.fav-gif {
    padding: 20px;
    margin: 0 auto;
    width: 75%;
}

/* Button Container */

.button-container {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.btn-info {
    margin: 10px 0px;
    width: 100%;
}

/* Form Container */

form {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

input {
    margin-top: 15px;
    width: 100%;
}

#add-emotion {
    margin-top: 20px;
    width: 30%;
}

#more-gifs {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 75%;
    width: 100%;
}

/* Gifs */

.btn-light {
    border: 1px solid black;
    width: 40%;
}

.card {
    border: 1px solid black;
    height: 95%;
    margin: 15px;
}

.gif-image {
    padding: 15px;
    padding-bottom: 50px;
    width: 80%;
    margin: 0 auto;
}

.download {
    bottom: 10px;
    left: 20px;
    position: absolute;
}

.favorite {
    bottom: 10px;
    right: 20px;
    position: absolute;
}